[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
ormar = {extras = ["postgresql"], version = "*"}
python-dotenv = "*"
pytest = "*"
alembic = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2 = "*"
rave-python = "*"

[scripts]
server = "python forteauto/server.py"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
